@page
@model TemplateApp.Pages.Employees.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employees.Name" class="control-label"></label>
                <input asp-for="Employees.Name" class="form-control" />
                <span asp-validation-for="Employees.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Phone" class="control-label"></label>
                <input asp-for="Employees.Phone" class="form-control" />
                <span asp-validation-for="Employees.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Email" class="control-label"></label>
                <input asp-for="Employees.Email" class="form-control" />
                <span asp-validation-for="Employees.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
