@page "{id:int?}"
@model TemplateApp.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employees.EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
