@page "{id:int?}"
@model TemplateApp.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employees.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.EmployeesName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.EmployeesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Assets)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Asset Description</th>
                    <th>Asset Serial Number</th>
                </tr>
                @foreach (var item in Model.Employees.Assets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employees.EmployeesID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
