@page "{id:int?}"
@model TemplateApp.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employees.EmployeesID" />
            <div class="form-group">
                <label asp-for="Employees.LastName" class="control-label"></label>
                <input asp-for="Employees.LastName" class="form-control" />
                <span asp-validation-for="Employees.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.FirstMidName" class="control-label"></label>
                <input asp-for="Employees.FirstMidName" class="form-control" />
                <span asp-validation-for="Employees.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.EmployeesName" class="control-label"></label>
                <input asp-for="Employees.EmployeesName" class="form-control" />
                <span asp-validation-for="Employees.EmployeesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
