﻿@using Microsoft.AspNetCore.Identity
@using TemplateApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <!--  <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">  -->
    <form asp-page="/Account/SignedOut" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
    
        <li><a asp-page="/Account/Register">Register</a></li>
        <li><a asp-page="/Account/Login">Log in</a></li>
    </ul>
}
<ul class="nav navbar-nav navbar-right">    
    @await Component.InvokeAsync("ShoppingCartSummary")
</ul>