﻿@page
@using Microsoft.EntityFrameworkCore
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Message</h3>

<p>Use this area to provide additional information.</p>
