﻿@page
@model TemplateApp.Pages.ProductsModel

@{
    ViewData["Title"] = "Products";
}

<h2>Select Your Favourite Cuisine from our kitchen and Enjoy some Finest Delicacies</h2>

<h4>Our Menu</h4>
<hr />

@foreach (var item in Model.Products)
{

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@item.ProductImage" alt="">
            <div class="caption">
                <h4 class="pull-right">@item.ProductPrice</h4>
                <h4>
                    <a>@item.ProductName</a>
                </h4>
                <p>@item.ProductPrice</p>
                <p>@item.ProductDescription</p>
                <p>@item.ProductId</p>

                <form method="Post" asp-page="./ShoppingCart" asp-page-handler="AddToShoppingCart" asp-route-productId=@item.ProductId>
                    <button>Add to Cart</button>
                    </form>
    
            </div>
        </div>
    </div>

}

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
