﻿@page

@model ShoppingCartModel
@{
    ViewData["Title"] = "AboutShoppingCart";
}

<h2>Your shopping cart</h2>
<h4>Here is your order!</h4>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Selected amount</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.CurrentShoppingCart.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Product.ProductName</td>
            <td class="text-right">@line.Product.ProductPrice.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Product.ProductPrice).ToString("c"))
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.CurrentShoppingCart.ShoppingCartTotal.ToString("c")
        </td>
    </tr>
    </tfoot>
</table>

<custom:div progress-value="33">
</custom:div>

<div>
    <form method="Post" asp-page-handler="Checkout">
        <button>Checkout with PayPal</button>
    </form>

</div>