﻿@page


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Thank You!!</h2>
            </div>
        </div>
    </div>


<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Your payment was successful. Your order is on its way!!</p>
            </div>
        </div>
    </div>
</div>